html, body {
  padding: 0;
  margin: 0;
}

input {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #bbb;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 100px;
}


h2, h3 {
  margin: 0 0 .75em 0;
}


/* first example name and facorite color */
.container {
  max-width: 750px;
  margin: 20px auto 0 auto;
  padding: 30px;
  background-color: #FFF;
}

.form-row {
  padding: 10px 0;
  display: flex;
}

.form-row label {
  padding-right: 10px;
}

.form-row input {
  flex: 1;
}
/* first example name and facorite color end */

.column-layout {
  max-width: 1300px;
  background-color: #FFF;
  margin: 40px auto 0 auto;
  line-height: 1.65;
  padding: 20px 50px;
  display: flex;
}

/* second example */

.main-column {
  flex: 3;
  order: 2;
}

.sidebar-one {
  flex: 1;
  order: 1;
}

.sidebar-two {
  flex: 1;
  order: 3;
}
/* second example end */

/* third example */
.call-outs-container {
  max-width: 1400px;
  margin: 40px auto 0 auto;
}

.call-out {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 30%;
}

@media (min-width: 900px) {
  .call-outs-container {
    display: flex;
    justify-content: space-between;
  }
}

.call-out:nth-child(1) {background-color: #c0dbe2;}
.call-out:nth-child(2) {background-color: #cdf1c3;}
.call-out:nth-child(3) {background-color: #ccb9da;}
/* third example end */


/* fourth-A example */
.fixed-size-container {
  max-width: 1400px; 
  margin: 40px auto 0 auto;
  background-color: #FFF;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fixed-size {
  background-color: #990b47;
  color: #FFF;
  width: 150px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
}
/* fourth-A example end*/

/* fifth example */
.banner {
  height: 400px;
  max-width: 700px;
  margin: 40px auto 40px auto;
  background-color: blueviolet;
  display: flex;
}

.center-me {
  color: #FFF;
  font-size: 50px;
  margin: auto;
}
/* fifth example end */

/* sixth example */
.equal-height-container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
}

.first {
  background-color: white;
  padding: 20px;
  flex: 1;
}

.second {
  background-color: wheat;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.second-a {
  background-color: teal;
  flex: 1;
  /* order: 3; */
}

.second-b {
  background-color: turquoise;
  flex: 1;
  /* order: 2; */
}

.second-c {
  background-color: thistle;
  flex: 1;
  /* order: 1; */
  
}
/* sixth example end */

/* Flex: wrap  */

/* Flex-container  */
.flex-container {
  max-width: 1400px; 
  margin: 40px auto 0 auto;
  list-style: none;
  border: 1px solid silver;
  padding: 30px 0;
  display: flex;
  background-color: tomato; 
}

/* Flex-container end */

/* nowrap flex  */
.nowrap {
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.flex-item {
  background-color: wheat;
  color: #000;
  width: 150px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
}

/* nowrap flex  end */

/* wrap flex  */
.wrap {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.flex-item-wrap {
  background-color: yellowgreen;
  color: #000;
  width: 150px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
}
/* wrap flex end */

/* reverse wrap flex  */

.reverse-wrap {
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-around;
}
/* reverse wrap flex end */
/* Flex: wrap end */


/* JUSTIFY-CONTENT START*/

.container-flex {
  max-width: 1400px; 
  list-style: none;
  display: flex;
  background-color: teal;
  align-items: center;
  margin: 40px auto 0 auto;
  padding: 30px 0;
}

.flex-start {
  justify-content: flex-start;
}

.flexbox-item {
  background-color: bisque;
  width: 150px;
  height: 100px;
  margin: 5px;
  line-height: 100px;
  color: #000;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;

}

.flex-end {
  justify-content: flex-end;
}

/* JUSTIFY-CONTENT START END*/
